<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.doo.nine.worker.discover</string>
  <key>WorkingDirectory</key>
  <string>/Users/doo/Development/NINE</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/doo/.nvm/versions/node/v22.22.0/bin/node</string>
    <string>/Users/doo/Development/NINE/scripts/start-worker.mjs</string>
    <string>--profile</string>
    <string>discover</string>
    <string>--mode</string>
    <string>start</string>
    <string>--npm-path</string>
    <string>/Users/doo/.nvm/versions/node/v22.22.0/bin/npm</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/doo/.nvm/versions/node/v22.22.0/bin:/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/doo/Development/NINE/logs/worker-discover.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/doo/Development/NINE/logs/worker-discover.err.log</string>
</dict>
</plist>
